{% set tagOptions = {
    'depends': [
        'lsst\\cantodamassets\\web\\assets\\CantoDamAsset'
    ],
} %}
{{ craft.canto.register('src/js/app.ts', false, tagOptions, tagOptions) }}

<div style="{% if not previewUrl %} display: none;{% endif %} margin-bottom: 15px;"
>
    <div>
        <img class="{{ className }}" style="max-height:200px; max-width:200px;" src="{{ previewUrl }}">
        <span>{{ previewName }}</span><br />
    </div>

</div>
